<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<meta charset="UTF-8">
<head>
    <title>Chi Tiết Đơn Hàng</title>
</head>
<body>
    <div class="container">
        <a href="/lichsudathang" class="back-button">Quay lại</a>
        
        <h2>Chi Tiết Đơn Hàng</h2>
        
        <div style="width: 100%; height: 1px; border: 4px solid black; margin-bottom: 20px;"></div>
        
        <table>
            <thead>
                <tr>
                    <th>Sản phẩm</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Giá tiền</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="chiTiet : ${chiTietDonHang}">
                    <td th:text="${chiTiet.maSp}"></td> <!-- Sửa lại nếu cần thiết -->
                    <td th:text="${chiTiet.sanPham.tenSanPham}"></td> 
                    <td th:text="${chiTiet.soLuong}"></td>
                    <td th:text="${chiTiet.giaTien}"><a style="color: black;">VNĐ</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
