<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
	<footer>
        <div class="info">
            <h5>Liên hệ chúng tôi</h5>
            <p><i class="fa-solid fa-location-dot"></i> Địa chỉ: 345 Tô Kí quận 12, tp.HCM</p>
            <p><i class="fa-regular fa-envelope"></i> Email:<a href="mailto:gaming@gmail.com">gaming@gmail.com</a></p>
            <p><i class="fa-solid fa-phone"></i> Liên hệ: 0123456789</p>
        </div>
        <div class="info"> 
            <h5>Sản phẩm</h5>
            <p>PC gear</p>
            <p>PC build sẵn</p>
            <p>Gaming gear</p>
            <h5>Chủ tịch</h5>
            <p>Ông: Bùi Quốc Việt</p>
        </div>
        <div  class="info">
            <h5>Hỗ trợ</h5>
            <p><a href="#">Blog</a></p>
            <p><a href="#">Hosting</a></p>
            <p><a href="#">Support</a></p>
        </div>
        <div  class="info">
            <h5>Công ty</h5>
            <p><a href="#">About Us</a></p>
            <p><a href="#">Careers</a></p>
            <p><a href="#">Team</a></p>
            <p><a href="#">Contact Us</a></p>
        </div>
    </footer>
</body>
</html>