<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<header>
    <div class="logo">
        <a href=""><img th:src="@{/shop/image/Logo.png}" alt="Logo"></a>
    </div>
    <div class="search">
        <input type="search" placeholder="Tìm kiếm...">
    </div>
    <div class="icon-container">
            <a href="" class="function"><i class="fa-regular fa-circle-user" alt="Tài khoản"></i></a>
            <a href="" class="function"><i class="fa-solid fa-cart-shopping" alt="Giỏ hàng"></i></a>
            <a href="" class="function"><i class="fa-solid fa-phone-volume" alt="Liên hệ"></i></a>
    </div>
</header>
<nav>
    <div class="navbar">
        <a href="#" th:href="@{/}">Trang chủ</a>
        <a href="#" th:href="@{/}">Sản phẩm</a>
        <a href="#" th:href="@{/}">Giỏ hàng</a>
        <a href="#" th:href="@{/about}">Giới thiệu</a>
        <a href="#" th:href="@{/support}">Hỗ trợ</a>
    </div> 
</nav>

</html>