<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<header>
    <div class="logo">
        <a href=""><img src="image/logo.png" alt="Logo"></a>
    </div>
    <div class="search">
        <input type="search" placeholder="Tìm kiếm...">
    </div>
    <div class="icon-container">
            <a href="" class="function"><i class="fa-regular fa-circle-user" alt="Tài khoản"></i></a>
            <a href="" class="function"><i class="fa-solid fa-cart-shopping" alt="Giỏ hàng"></i></a>
            <a href="" class="function"><i class="fa-solid fa-phone-volume" alt="Liên hệ"></i></a>
    </div>
</header>
<nav>
    <div class="navbar">
        <a href="#" th:href="@{/}">Trang chủ</a>
        <a href="#" th:href="@{/}">Sản phẩm</a>
        <a href="#" th:href="@{/}">Giỏ hàng</a>
        <a href="#" th:href="@{/about}">Giới thiệu</a>
        <a href="#" th:href="@{/support}">Hỗ trợ</a>
    </div>
    <div class="row mt-4">
    <div class="col-lg-12">
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                        aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3"
                        aria-label="Slide 4"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="4"
                        aria-label="Slide 5"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="5"
                        aria-label="Slide 6"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <a th:href="@{'#'}"><img src="image/parts1.jpg" class="rounded" alt="..."></a>
                </div>
                <div class="carousel-item">
                    <a th:href="@{'#'}"><img src="image/parts2.jpg" class="rounded" alt="..."></a>
                </div>
                <div class="carousel-item">
                    <a th:href="@{'#'}"><img src="image/parts3.webp" class="rounded" alt="..."></a>
                </div>
                <div class="carousel-item">
                    <a th:href="@{'#'}"><img src="image/parts4.jpg" class="rounded" alt="..."></a>
                </div>
                <div class="carousel-item">
                    <a th:href="@{'#'}"><img src="image/parts5.webp" class="rounded" alt="..."></a>
                </div>
                <div class="carousel-item">
                    <a th:href="@{'#'}"><img src="image/parts6.jpg" class="rounded" alt="..."></a>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>
</div>
</nav>

</html>