@charset "UTF-8";

body {
	font-family: 'Arial', sans-serif;
	background-color: #f5f5f5;
	margin: 0;
}

.header, .footer {
	background-color: white;
	padding: 10px 20px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.container {
	max-width: 100%;
	margin: 0 auto;
	background: white;
	border-radius: 8px;
	padding: 20px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

h2 {
	text-align: center;
	color: #333;
	margin-bottom: 20px;
}

.back-button {
	display: block;
	text-align: center;
	text-decoration: none;
	color: white;
	background-color: blue;
	padding: 10px 20px;
	border-radius: 5px;
	margin-bottom: 20px;
	width: 150px; /* Kích thước nút */
}

table {
	width: 100%; /* Chiếm toàn bộ chiều rộng */
	border-collapse: collapse; /* Xóa khoảng cách giữa các ô */
}

th, td {
	border: 1px solid #ddd; /* Viền cho ô */
	padding: 10px; /* Khoảng cách bên trong ô */
	text-align: center;
}

th {
	background-color: #f2f2f2; /* Màu nền cho tiêu đề */
	font-weight: bold;
}

.total-price {
	font-weight: bold;
	color: #ff5733; /* Màu sắc cho giá tiền */
	margin-top: 20px;
	text-align: right; /* Căn phải */
}