<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<img src="/admin/image/logo.png" alt="" class="ms-4 ps-2 img-fluid"
		style="cursor: pointer;">
	<div class="d-block text-center px-5">
		<a href="#!ThongKe">
			<button
				class="btn btn-light fs-5 w-100 fw-medium rounded-4 text-start ps-4 mb-4 py-2 buttonMenuSelected">
				<i class="fa-solid fa-chart-line me-2"></i>Thống kê
			</button>
		</a> <a href="#!QuanLyDonHang">
			<button
				class="btn btn-light fs-5 w-100 fw-medium rounded-4 text-start ps-4 mb-4 mt-2 py-2">
				<i class="fa-solid fa-file-invoice-dollar me-3"></i>Đơn hàng
			</button>
		</a> <a href="#!QuanLyNguoiDung">
			<button
				class="btn btn-light fs-5 w-100 fw-medium rounded-4 text-start ps-4 mb-4 mt-2 py-2">
				<i class="fa-solid fa-user me-3"></i>Người dùng
			</button>
		</a> <a href="#!QuanLySanPham">
			<button
				class="btn btn-light fs-5 w-100 fw-medium rounded-4 text-start ps-4 mb-4 mt-2 py-2">
				<i class="fa-solid fa-box me-3"></i>Sản phẩm
			</button>
		</a> <a href="#!QuanLyChungloai">
			<button
				class="btn btn-light fs-5 w-100 fw-medium rounded-4 text-start ps-4 mb-4 mt-2 py-2">
				<i class="fa-solid fa-list me-3"></i>Chủng loại
			</button>
		</a> <a href="#!QuanLyNhaCungCap">
			<button
				class="btn btn-light fs-5 w-100 fw-medium rounded-4 text-start ps-4 mb-4 mt-2 py-2">
				<i class="fa-solid fa-tag me-3"></i>Nhà cung cấp
			</button>
		</a> <a href="#!QuanLyThuocTinhDacBiet">
			<button
				class="btn btn-light fs-5 w-100 fw-medium rounded-4 text-start ps-4 mb-4 mt-2 py-2">
				<i class="fa-solid fa-star me-2"></i>Thuộc tính đặc biệt
			</button>
		</a>
	</div>
	
	
</body>
</html>