<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:fragment="content">
	<div
		class="fs-4 w-100 bodyPart mb-3 px-3 py-2 rounded-3 d-flex justify-content-between">
		<span class="titleText fw-bold ms-1">Thêm thuộc tính đặc biệt mới</span>
		<button type="button"
			class="btn btn-success px-4 py-2 rounded-4 fw-bold">Thêm</button>
	</div>
	<div class="fs-4 w-100 bodyPart px-3 py-3 rounded-3"
		style="height: 700px;">
		<span class="titleText fw-bold ms-1">Danh sách thuộc tính đặc biệt</span>
		<table class="table bodyPart mt-3">
			<thead class="fs-5">
				<tr>
					<th scope="col">Mã thuộc tính đặc biệt</th>
					<th scope="col">Tên thuộc tính đặc biệt</th>
					<th scope="col">Hành động</th>
				</tr>
			</thead>
			<tbody class="fw-light fs-5">
				<tr th:each="ttdb : ${listTtdb}">
					<td class="pt-4" th:text="${ttdb.maThuocTinhDacBiet}"></td>
					<td class="pt-4" th:text="${ttdb.tenThuocTinhDacBiet}"></td>
					<td class="ps-3 pt-3">
						<a href="#"><img alt="" class="img-fluid" th:src="@{/image/QuanLy/editIcon.png}"></a>
						<a href="#"><img alt="" class="img-fluid" th:src="@{/image/QuanLy/deleteIcon.png}"></a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</body>
</html>