<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body th:fragment="content">
	<div
		class="fs-4 w-100 bodyPart mb-3 px-3 py-2 rounded-3 d-flex justify-content-between">
		<span class="titleText fw-bold ms-1">Thêm nhà cung cấp mới</span>
		<button type="button" data-bs-toggle="modal" data-bs-target="#modalNhaCungCap" ng-click="reset()"
			class="btn btn-success px-4 py-2 rounded-4 fw-bold">Thêm</button>
	</div>
	<div class="fs-4 w-100 bodyPart px-3 py-3 rounded-3"
		style="min-height: 700px">
		<span class="titleText fw-bold ms-1">Danh sách nhà cung cấp</span>
		<table class="table bodyPart mt-3">
			<thead class="fs-5">
				<tr>
					<th scope="col">Mã nhà cung cấp</th>
					<th scope="col">Tên nhà cung cấp</th>
					<th scope="col">Hành động</th>
				</tr>
			</thead>
			<tbody class="fw-light fs-5">
				<tr ng-repeat="ncc in items">
					<td class="pt-4" >{{ncc.maNhaCungCap}}</td>
					<td class="pt-4" >{{ncc.tenNhaCungCap}}</td>
					<td class="ps-3 pt-3">
						<img alt="" class="img-fluid me-2 imgAction" data-bs-toggle="modal" data-bs-target="#modalNhaCungCap" src="/admin/image/editIcon.png" ng-click="load_by_id(ncc.maNhaCungCap)">
						<img alt="" class="img-fluid" src="/admin/image/deleteIcon.png">
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	
	<!-- Modal nha cung cap -->
	<div class="modal fade" id="modalNhaCungCap"
		data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
		aria-labelledby="staticBackdropLabel" aria-hidden="true">
		<div class="modal-dialog pt-3">
			<div class="modal-content">
				<div class="modal-header">
					<h1 class="modal-title fs-4 fw-bold" id="staticBackdropLabel" ng-hide="update">Thêm
						nhà cung cấp mới</h1>
					<h1 class="modal-title fs-4 fw-bold" id="staticBackdropLabel" ng-show="update">Cập nhật nhà cung cấp</h1>
					<button type="button" class="btn-close" data-bs-dismiss="modal"
						aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="input-group mb-3">
						<span class="input-group-text text-bg-secondary" id="basic-addon1">Mã
							nhà cung cấp</span> <input type="text" class="form-control" ng-model = "form.maNhaCungCap" ng-readonly="update"	
							aria-label="Username" aria-describedby="basic-addon1">
					</div>
					<div class="input-group ">
						<span class="input-group-text text-bg-secondary" id="basic-addon1">Tên
							nhà cung cấp</span> <input type="text" class="form-control" ng-model = "form.tenNhaCungCap"
							aria-label="Username" aria-describedby="basic-addon1">
					</div>

				</div>
				<div class="modal-footer">
					<!--<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>-->
					<button type="button" class="btn p-0 m-0 me-3" ng-hide="update">
						<img src="/admin/image/resetBtn.png" class="img-fluid"
							style="height: 40px;">
					</button>
					<button type="button" class="btn p-0 m-0" ng-hide="update">
						<img src="/admin/image/themBtn.png" class="img-fluid" 
							style="height: 44px;">
					</button>
					<button type="button" class="btn p-0 m-0 me-1" ng-show="update">
						<img src="/admin/image/capNhatBtn.png" class="img-fluid" 
							style="height: 46px;">
					</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>