<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link th:href="@{/vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
<link th:href="@{/shop/css/Header.css}" rel="stylesheet">
<link th:href="@{/shop/css/Footer.css}" rel="stylesheet">
</head>
<body>
	
	<div th:replace="~{/layout/header}"></div>
	
	<div th:replace="${content}"></div>
	
	<div th:replace="~{/layout/Footer}"></div>
	
	<script src="https://kit.fontawesome.com/c6bc02ad3b.js"
		crossorigin="anonymous"></script>
	<script th:src="@{/vendor/bootstrap/js/bootstrap.bundle.min.js}"></script>	
	<script src="@{/vendor/angular/Angular.min.js}"></script>
	<script src="@{/vendor/angular/Angular-route.min.js}"></script>
</body>
</html>